{% extends 'main.html' %}
{% block content %}
    <div class="container">
    <h1 class="text-center"><u>Heart Rate Data</u></h1><br>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Usernames</th>
          <th>Time Stamp</th>
          <th>Device ID</th>
          <th>HR Value</th>
        </tr>
      </thead>
      <tbody>
      <!-- jinja2 Technique -->
      {% if d %}
      {% for i in d %}
        <tr>
          <td>{{i.username}}</td>
          <td>{{i.time_stamp}}</td>
          <td>{{i.deviceID}}</td>
          <td>{{i.HRvalue}}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}
